.container {
	height: 100%;
	display: flex;
	justify-content: center;
}

.movies {
	display: grid;
	grid-template-columns: repeat(2, minmax(400px, 1fr));
	grid-gap: 100px;
	padding: 50px;
	width: 80%;
	padding-top: 70px;

	margin-bottom: 70px;
	font-weight: 300;
	border-radius: 5px;
	color: #adaeb9;
	/* grid-template-columns: minmax(150px, 1fr) 2fr; */
	text-decoration: none;
	color: inherit;
	box-shadow: 0 13px 27px -5px rgba(50, 50, 93, 0.25),
		0 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
}

.movie_img {
	position: relative;
	/* top: -50px;
	max-width: 150px;
	width: 100%;
	margin-right: 30px;
	box-shadow: 0 30px 60px -12px rgba(50, 50, 93, 0.25),
		0 18px 36px -18px rgba(0, 0, 0, 0.3), 0 -12px 36px -8px rgba(0, 0, 0, 0.025); */
}
@media screen and (max-width: 1090px) {
	.movies {
		grid-template-columns: 1fr;
		width: 90%;
	}
}