.movie {
	padding: 20px;
}

.movie_img {
	width: 100%;
}

.movie_title {
	margin: 0;
	font-weight: 300;
	font-size: 20px;
	color: #6fe2b9;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}

.movie_rating {
	margin: 0;
	text-align: center;
	font-size: 30px;
	color: #ffffff;
}